* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(202, 69, 69);
    font-family: 'Times New Roman', Times, serif;

}


/* header */
header {
    background-color: #020202;
    color :rgb(250, 250, 250);
    height: 250px; 
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 75px
}

    .links {
    list-style-type: none;
    text-align: right;
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 25px;
}
header img {
    width: 20%;
}

/* Index*/
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}


/* main */
main h2 {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}

main ul {
    text-align: left;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    color: rgb(48, 40, 40);
    list-style-type: none;
}
.horarios {
    width: 300px;
    height: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    border-style: dotted;
    border-radius: 14px;
    margin: auto;

}



/* padding */
main {
    padding: 50px 60px;
}







/*  turnos */

.persona ,.vehiculo {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    align-items: center;
    
}

.vehiculo{
    flex-direction: row;
    justify-content: center;
}

.formulario{
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
}
.formulario-auto {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 15px;
    height: 100%;
}

.formulariotel {
    display: flex;
    padding: 10px;
    width: 300px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 15px;
    height: 100%;
}
.cod {
width: 20%;
}
.tel {
    height: 100%;
    width: 30%;
}

.buttons {
display: flex;
flex-direction: row-reverse;
gap: 15px
;
}



/* acc&mods */

.lado1 {
    text-align: left;
    font-family: cursive;
}

.containeracc {
    display: grid;
    grid-template-columns: (3, 1fr);
    gap: 10px;
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

.card-articulo {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 250px;
}

.imgacc {
    width: auto;
}

.containeracc img {
    width: 25%;
    height: 100%;
    object-fit: cover;
}

.containeracc :nth-child(even) {
flex-direction: row-reverse;
}

.titulo {
    font-size: 30px;
    width: 40%;
    font-family: monospace;
font-size: 35px;
}

.turnoform {
    display: grid;
    align-items: center;
}


/* footer */

footer {
    background-color: #000000 ; 
}

.footerbox{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footergrid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}



footer img {
width: 100px;
height: 100%;
}
 .b1 {
    justify-content: initial;
 }