.hero {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'roboto' sans-serif;
    
    
    .cartabienvenida {
        display: flex;
        flex-direction: row;
        font-size: 30px;     
        text-align: center; 
    }
    .hometxt {
        width: 100%;
    }
    .frentetaller {
        border-radius: 15px;
        box-shadow: 2px 2px;
        }
}
/*mediaqueries*/
.hero .cartabienvenida {
@media (min-width:768px) and (max-width:900px){
    padding: 20px;
}
@media (max-width:767px) {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
    .hometxt{
        font-size: 20px;
    }
    .frentetaller{
        width: 100%;
    }
}
}