header {
    background-color: #000000;
    color: rgb(250, 250, 250);
    height: auto;
    padding: 10px;

    h1 {
        font-family: 'roboto' sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 75px
    }

    img {
        width: 20%;
    }

    .links-desktop {

        list-style-type: none;
        text-align: right;
        color: rgb(255, 0, 0);
        font-family: 'roboto' sans-serif;
        font-weight: bolder;
        font-size: 25px;

        .nav-item {
            border: white 2px solid;
            border-radius: 15px;

        }

        .nav-item:hover {
            background-color: gray;
        }
    }

    .links-mobile {
        display: none;

        .btn-nav {
            display: none;
        }
    }

    /*Mediaqueries*/
    @media (max-width:767px) {
        .links-desktop {
            display: none;
        }

        .links-mobile {
            display: flex;
            width: 50px;
            backdrop-filter: blur;

            .btn-nav {
                display: inline-block;
                justify-content: end;
                background-color: rgb(95, 16, 16);
                font-size: 30px;
            }

            .offcanvas-header {
                background-color: #584c4c;
            }

            .offcanvas-body {
                background: rgb(0, 0, 0);
                background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(157, 33, 33, 1) 0%, rgba(0, 0, 0, 1) 86%);

                display: grid;
                grid-template-columns: 100px;
                justify-content: end;


                .nav-item {
                    border: grey 1px solid;
                    border-radius: 15px;
                    font-size: 40px;
                    padding: 5px;
                }
            }
        }
    }

}